{% extends 'FOSUserBundle::layout.html.twig' %}

{% block fos_user_content %}
    <h1>Material creation</h1>

    {{ form_start(form) }}
<div class="form-group">
    <div id="container">
        <div class="inner-container">
            <div class="toggle">
                <p>Libro</p>
            </div>
            <div class="toggle">
                <p>Apuntes</p>
            </div>
        </div>
        <div class="inner-container" id='toggle-container'>
            <div class="toggle">
                <p>Libro</p>
            </div>
            <div class="toggle">
                <p>Apuntes</p>
            </div>
        </div>
    </div>
</div>
    <div class="form-group">
        {{ form_row(form.titulo,{ 'attr': {'class': "form-control", 'placeholder': 'form.titulo'|trans}, 'label':false }) }}
    </div>
    <div class="form-group">
        {{ form_row(form.isbn,{ 'attr': {'class': "form-control", 'placeholder': 'form.isbn'|trans}, 'label':false }) }}
    </div>
    <div class="form-group">
        {{ form_row(form.temas,{ 'attr': {'class': "form-control", 'placeholder': 'form.temas'|trans}, 'label':false }) }}
    </div>
    <div class="form-group">
        {{ form_row(form.descripcion,{ 'attr': {'class': "form-control", 'placeholder': 'form.descripcion'|trans}, 'label':false }) }}
    </div>
    <div class="form-group">
        {{ form_row(form.precio,{ 'attr': {'class': "form-control", 'placeholder': 'form.precio'|trans}, 'label':false }) }}
    </div>
    <div class="form-group">
        {{ form_row(form.imagenes,{ 'attr': {'class': "form-control", 'placeholder': 'form.imagenes'|trans}, 'label':false }) }}
    </div>

    <script>
        $('#appbundle_material_titulo').attr('type','hidden')
        $('#appbundle_material_isbn').attr('type','hidden')
        $('#appbundle_material_temas').attr('type','text').attr('required','true')
        var toggle = document.getElementById('container');
        var toggleContainer = document.getElementById('toggle-container');
        var toggleNumber;


        toggle.addEventListener('click', function() {
            toggleNumber = !toggleNumber;

            if (toggleNumber) {
                toggleContainer.style.clipPath = 'inset(0 0 0 50%)';
                toggleContainer.style.backgroundColor = 'dodgerblue';
                $('#appbundle_material_titulo').attr('type','text').attr('required','true')
                $('#appbundle_material_isbn').attr('type','text').attr('required','true')
                $('#appbundle_material_temas').attr('type','hidden').attr('required','false')

            } else {
                toggleContainer.style.clipPath = 'inset(0 50% 0 0)';
                toggleContainer.style.backgroundColor = 'dodgerblue';
                $('#appbundle_material_titulo').attr('type','hidden')
                $('#appbundle_material_isbn').attr('type','hidden')
                $('#appbundle_material_temas').attr('type','text').attr('required','true')
            }
            console.log(toggleNumber)
        });
    </script>

    <input type="submit" class="btn btn-secondary" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('material_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
